<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="top-header">
    <h1 class="logo">BudgetCoach</h1>
</div>

<div class="dashboard-container">

    <div class="cards">

        <a href="/add-expense" class="card-box">
            <h3>Add Expense</h3>
            <p>Record your daily spending</p>
        </a>

        <a href="/view-expenses" class="card-box">
            <h3>View Expenses</h3>
            <p>See all your spending details</p>
        </a>

        <a href="/goals" class="card-box">
            <h3>Budget & Goals</h3>
            <p>Track your daily streak</p>
        </a>
        <a href="/personalization" class="card-box">
    <h3>Personalization</h3>
    <p>Unlock avatar items using points</p>
</a>
<a href="/settings" class="card-box">
    <h3>Settings</h3>
    <p>Manage your account</p>
</a>

    </div>

</div>

</body>
</html>
